<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Create new API
        <a href="#" class="modal-close pull-right" ng-click="close()">
            <i class="material-icons ">clear</i>
        </a>

    </h4>
</div>

<div class="modal-body" id="modal-body">
    <div class="well">
        <p class="help-block">
            The API object describes an API that's being exposed by Kong. Kong needs to know how to retrieve the API when a consumer is calling it from the Proxy port. Each API object must specify a request host, a request path or both. Kong will proxy all requests to the API to the specified upstream URL.
        </p>
    </div>
    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.name}">
            <label class="col-sm-4 control-label">Name <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="api.name" class="form-control">
                <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
                <p class="help-block">The API name..</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.hosts}">
            <label class="col-sm-4 control-label">Request Host(s)
                <br><em><small class="help-block">semi-optional</small></em></label>
            <div class="col-sm-7">
                <chips ng-model="api.hosts">
                    <chip-tmpl>
                        <div class="default-chip">
                            {{chip}}
                            <i class="material-icons" remove-chip>clear</i>
                        </div>
                    </chip-tmpl>
                    <input chip-control/>
                </chips>
                <div class="text-danger" ng-if="errors.host" data-ng-bind="errors.host"></div>
                <p class="help-block">
                    The public DNS address that points to your API. For example, <code>mockbin.com</code>. At least <code>hosts</code> or <code>paths</code> or both should be specified.
                </p>

            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.uris}">
            <label class="col-sm-4 control-label">Request Path(s)
                <br><em><small class="help-block">semi-optional</small></em></label>
            <div class="col-sm-7">
                <chips ng-model="api.uris">
                    <chip-tmpl>
                        <div class="default-chip">
                            {{chip}}
                            <i class="material-icons" remove-chip>clear</i>
                        </div>
                    </chip-tmpl>
                    <input chip-control/>
                </chips>
                <div class="text-danger" ng-if="errors.uris" data-ng-bind="errors.uris"></div>
                <p class="help-block">
                    The public paths that points to your API. For example, <code>/someservice</code>. At least <code>hosts</code> or <code>paths</code> or both should be specified.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Strip Request Path
                <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input

                        bs-switch
                        ng-model="api.strip_uri"
                        switch-size="small"
                        type="checkbox"
                        switch-on-text="YES"
                        switch-off-text="NO"
                >
                <!--<select ng-model="api.strip_uri"-->
                        <!--ng-change="updateApi(api)"-->
                        <!--class="form-control"-->
                        <!--ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">-->
                <!--</select>-->
                <p class="help-block">
                    Strip the request_path value before proxying the request to the final API. For example a request made to <code>/someservice/hello</code> will be resolved to <code>upstream_url/hello</code>. By default is false.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Preserve Host
                <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input
                        bs-switch
                        ng-model="api.preserve_host"
                        switch-size="small"
                        type="checkbox"
                        switch-on-text="YES"
                        switch-off-text="NO"
                >
                <p class="help-block">
                    Preserves the original <code>Host</code> header sent by the client, instead of replacing it with the <code>hostname</code> of the <code>upstream_url</code>. By default is false.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">HTTPS Only
                <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input
                        bs-switch
                        ng-model="api.https_only"
                        switch-size="small"
                        type="checkbox"
                        switch-on-text="YES"
                        switch-off-text="NO"
                >
                <p class="help-block">
                    Forces this API to only serve via HTTPS.
                </p>
            </div>
        </div>
        <div class="form-group " ng-class="{'has-error' : errors.upstream_url}">
            <label class="col-sm-4 control-label">Upstream URL</label>
            <div class="col-sm-7">
                <input type="url" ng-model="api.upstream_url" class="form-control">
                <div class="text-danger" ng-if="errors.upstream_url" data-ng-bind="errors.upstream_url"></div>
                <p class="help-block">
                    The base target URL that points to your API server, this URL will be used for proxying requests. For example, <code>https://mockbin.com</code>.
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="submit" class="btn btn-primary" ng-click="submit()">
                    <i class="material-icons">&#xE876;</i>
                    Submit API
                </button>
            </div>
        </div>

    </form>
</div>