<div class="panel panel-default">
    <div class="panel-heading primary">
        <div class="panel-title">
            <i class="material-icons">info_outline</i>
            API details

        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group" ng-class="{'has-error' : errors.name}">
                <label class="col-sm-4 control-label">Name <br><em><small class="help-block">optional</small></em></label>
                <div class="col-sm-7">
                    <input ng-model="api.name" class="form-control">
                    <div class="text-danger" ng-if="errors.name" data-ng-bind="errors.name"></div>
                    <p class="help-block">The API name.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : errors.hosts}">
                <label class="col-sm-4 control-label">Request Host(s)
                    <br><em><small class="help-block">semi-optional</small></em></label>
                <div class="col-sm-7">
                    <chips ng-model="api.hosts">
                        <chip-tmpl>
                            <div class="default-chip">
                                {{chip}}
                                <i class="material-icons" remove-chip>clear</i>
                            </div>
                        </chip-tmpl>
                        <input chip-control/>
                    </chips>
                    <div class="text-danger" ng-if="errors.hosts" data-ng-bind="errors.hosts"></div>
                    <p class="help-block">
                        Zero or more public DNS addresses that should route for this API. At least one <code>host</code> or one <code>path</code> should be specified.
                    </p>

                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : errors.uris}">
                <label class="col-sm-4 control-label">Request Path(s)
                    <br><em><small class="help-block">semi-optional</small></em></label>
                <div class="col-sm-7">
                    <chips ng-model="api.uris">
                        <chip-tmpl>
                            <div class="default-chip">
                                {{chip}}
                                <i class="material-icons" remove-chip>clear</i>
                            </div>
                        </chip-tmpl>
                        <input chip-control/>
                    </chips>
                    <div class="text-danger" ng-if="errors.uris" data-ng-bind="errors.uris"></div>
                    <p class="help-block">
                        Zero or more paths that should route for this API. At least one <code>host</code> or one <code>path</code> should be specified.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-4">
                    <div class="checkbox">
                        <label>
                            <input
                                    ng-model="api.strip_uri"
                                    type="checkbox" value=""><strong>Strip Request Path</strong>
                        </label>
                    </div>
                    <p class="help-block">
                        Strip the paths value before proxying the request to the final API. For example a request made to <code>/someservice/hello</code> will be resolved to <code>upstream_url/hello</code>. By default is false.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">

                    <div class="checkbox">
                        <label>
                            <input
                                ng-model="api.preserve_host"
                                type="checkbox" value=""><strong>Preserve Host</strong>
                        </label>
                    </div>
                    <p class="help-block">
                        Preserves the original <code>Host</code> header sent by the client, instead of replacing it with the <code>hostname</code> of the <code>upstream_url</code>. By default is false.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">

                    <div class="checkbox">
                        <label>
                            <input
                                ng-model="api.https_only"
                                type="checkbox" value=""><strong>HTTPS Only</strong>
                        </label>
                    </div>
                    <p class="help-block">
                        Forces this API to only be served via HTTPS.
                    </p>
                </div>
            </div>
            <div class="form-group " ng-class="{'has-error' : errors.upstream_url}">
                <label class="col-sm-4 control-label">Upstream URL</label>
                <div class="col-sm-7">
                    <input type="url" ng-model="api.upstream_url" class="form-control">
                    <div class="text-danger" ng-if="errors.upstream_url" data-ng-bind="errors.upstream_url"></div>
                    <p class="help-block">
                        The base target URL that points to your API server, this URL will be used for proxying requests. For example, <code>https://mockbin.com</code>.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                    <button type="submit" class="btn btn-primary" ng-click="updateApi()">
                        <i class="material-icons">&#xE876;</i>
                        Submit changes
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>